.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
}

.App-link {
  color: #F0A500;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.list-group-item {
  display: flex;
  padding: 1em;
  margin-bottom: 0.0;
  justify-content: center;
}
.navbar {
  background-color: #F0A500;
  /* margin: auto -16px; */
  /* padding: 16px 32px; */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  height: 105px;
  color: white;
}
.navbarH1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
  font-size: 27px;
  font-weight: bolder;
  padding-right: 75%;
  padding-top: 25px;
}
.navbar button {
  background-color: #F0A500;
  border: 0;
  color: #fff;
  border-radius: 3px;
  width: 105px;
  font-size: 13px;
  /* display: inline; */
  /* overflow: hidden; */
  /* position: relative; */
}
.navbar-button {
float: right;
margin-bottom: 50px;
}
.welcome {
color: #eee;
padding-right: 30%;
}
.header {
display: block;
align-items: center;
padding-left: 240px;
}

.editBtn {
  position: absolute;
  right: 2px;
  bottom: -8px;
  background-color: #F0A500;
  color: #fff;
  border: none;
  width: 50px;
  height: 36px;
  border-radius: 15%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
.addBtn {
  position: absolute;
  right: 57px;
  bottom: -8px;
  background-color: #F0A500;
  color: #fff;
  border: none;
  width: 50px;
  height: 36px;
  border-radius: 15%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.note {
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left
}
.note {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap:break-word;
}
.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #F0A500;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}
.note-form, addPhrase-form {
position: relative;
width: 480px;
margin: 30px auto 20px auto;
background-color: #fff;
padding: 15px;
border-radius: 7px;
box-shadow: 0 1px 5px rgb(138, 137, 137);
}
.note-form input, textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
.note-form button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background-color: #F0A500;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
.addPhrase-form input, textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

/* login, signup form */
.container {
  margin: 10% auto;
  padding: 80px 0;
  text-align: center;
}

.container h1 {
  font-size: 40px;
  font-weight: 200;
  color: #F0A500;
}
.form-user input {
  border: 1px solid #F0A500;
  background-color: #fff;
  color: #F0A500;
  /* width: 250px; */
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: #F0A500;
  font-weight: 300;
}
.form-user button {
  appearance: none;
  outline: 0;
  background-color: #FFF3AF;
  border: 0;
  padding: 10px 15px;
  color: #F0A500;
  border-radius: 3px;
  width: 250px;
  font-size: 18px;
}
/* login, signup from end */

.phraseCard {
  color: #F0A500;
  position: relative;
  width: 480px;
  margin: 10px auto 10px auto;
  background-color: #fff;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 1px 1px lightgrey;
}
.addPhrase {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background-color: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
.addPhrase-form button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background-color: #F0A500;
  color: #fff;
  border: none;
  width: 50px;
  height: 36px;
  border-radius: 15%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.selectedLang {
  margin: 15px;
}

/* footer {
  text-align: center;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #FFF3AF;
} */
